---
  import 'swiper/css'; // Import CSS dasar saja
  import 'aos/dist/aos.css';
---

<!-- main konten -->
<section class="relative bg-excelso-dark py-10 overflow-hidden">
    <div class="container mx-auto px-4" data-aos="fade-down">

      <!-- Desktop Layout Container (flex row) -->
      <div class="flex flex-col md:flex-row md:items-center md:gap-6 lg:gap-8 mx-2 md:mx-4 lg:mx-5 xl:mx-7">
        <!-- Feature Content - Extraordinary Elixirs -->
        <div class="mb-3 md:mb-0 relative md:w-2/5">

          <!-- Decorative background image behind text (tablet/desktop only) -->
          <div class="absolute inset-0 z-0 hidden md:block">
            <img src="/images/logo.png" alt=""
              class="w-full h-full object-contain opacity-20 filter grayscale transform scale-150 translate-x-[40%]" />
          </div>

          <!-- Content container with icon, heading, text, and button -->
          <div class="text-start md:text-left max-w-3xl mx-auto mt-0 relative z-10">
            <!-- Icon and heading -->
            <div class="flex items-start md:justify-start px-4 md:px-0">
              <h3 class="text-excelso-societe font-abhaya text-[26px] md:text-[52px] lg:text-[72px] font-extrabold">
                2023
              </h3>
            </div>

            <!-- Description text -->
            <p class="text-white font-abhaya text-left text-[14px] md:text-lg lg:text-xl mb-8 px-4 md:px-0">
              Established in <strong>2023</strong> in <strong>Surabaya</strong>, Société was born to redefine the way we experience coffee and dining.<br><br>
              It offers a luxurious and immersive coffee journey, inspired by passion, craft, and connection.
            </p>

            <!-- Button centered -->
            <div class="flex justify-center md:justify-start px-4 md:px-0">
              <a href="/reservation"
                class="inline-block bg-excelso-societe hover:bg-teal-700 text-white font-bold py-3 px-8 rounded-full transition-colors">
                Reserve
              </a>
            </div>
          </div>
        </div>

        <!-- Swiper Container with Decorative Background -->
        <div class="relative md:w-3/5">
          <!-- Mobile-only decorative elements -->
          <div class="absolute inset-0 z-0 block md:hidden">
            <!-- Left decorative lines -->
            <div class="absolute left-14 top-10 transform -translate-y-1/2 -translate-x-1/2 opacity-80">
              <img src="/images/decorframe1.png" alt="" class="w-auto h-auto transition-transform duration-500 hover:scale-105 hover:-translate-y-2" />
            </div>

            <!-- Right decorative lines -->
            <div class="absolute right-0 bottom-0 transform translate-x-1/2 translate-y-1/4 opacity-80">
              <img src="/images/decorframe1.png" alt="" class="w-auto h-auto" />
            </div>
          </div>

          <!-- Swiper -->
          <div class="swiper mySwiper relative z-10">
            <div class="swiper-wrapper items-center">
              <!-- Slide 1 (besar) -->
              <div class="swiper-slide !w-auto">
                <img src="/images/outlet.png" alt="Coffee 1"
                  class="w-[355px] h-[200px] md:w-[425px] md:h-[320px] lg:w-[575px] lg:h-[400px] xl:w-[730px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 2 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/aboutus1.png" alt="Coffee 2"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[280px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 3 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/aboutus2.png" alt="Coffee 3"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[280px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 4 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/cafeo.jpg" alt="Coffee 4"
                  class="w-[355px] h-[200px] md:w-[425px] md:h-[320px] lg:w-[575px] lg:h-[400px] xl:w-[730px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 5 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/aboutus3.png" alt="Coffee 3"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[280px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 6 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/aboutus4.png" alt="Coffee 4"
                  class="w-[355px] h-[200px] md:w-[425px] md:h-[320px] lg:w-[575px] lg:h-[400px] xl:w-[730px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- konten kedua -->
    <div class="container mx-auto px-4 mt-20 md:mt-24 lg:mt-32" data-aos="fade-up">

      <!-- Desktop Layout Container (flex row) -->
      <div class="flex flex-col md:flex-row md:items-center md:gap-6 lg:gap-8 mx-2 md:mx-4 lg:mx-5 xl:mx-7">
        <!-- Feature Content - Extraordinary Elixirs -->
        <div class="mb-3 md:mb-0 relative md:w-2/5">

          <!-- Decorative background image behind text (tablet/desktop only) -->
          <div class="absolute inset-0 z-0 hidden md:block">
            <img src="/images/logo.png" alt=""
              class="w-full h-full object-contain opacity-20 filter grayscale transform scale-150 translate-x-[40%]" />
          </div>

          <!-- Content container with icon, heading, text, and button -->
          <div class="text-start md:text-left max-w-3xl mx-auto mt-0 relative z-10">
            <!-- Icon and heading -->
            <div class="flex items-start md:justify-start px-4 md:px-0">
              <h3 class="text-excelso-societe font-abhaya text-[26px] md:text-[52px] lg:text-[72px] font-extrabold">
                2024
              </h3>
            </div>

            <!-- Description text -->
            <p class="text-white font-abhaya text-left text-[14px] md:text-lg lg:text-xl mb-8 px-4 md:px-0">
              <strong>Société Sarinah </strong> opened on April 20, 2024, in Central Jakarta's iconic Sarinah Building. It's the brand's second branch in the capital.

              This new spot offers Société's signature luxurious coffee-dining experience, combining modern elegance with a warm, inviting vibe.
            </p>

            <!-- Button centered -->
            <div class="flex justify-center md:justify-start px-4 md:px-0">
              <a href="/reservation"
                class="inline-block bg-excelso-societe hover:bg-teal-700 text-white font-bold py-3 px-8 rounded-full transition-colors">
                Reserve
              </a>
            </div>
          </div>
        </div>

        <!-- Swiper Container with Decorative Background -->
        <div class="relative md:w-3/5">
          <!-- Mobile-only decorative elements -->
          <div class="absolute inset-0 z-0 block md:hidden">
            <!-- Left decorative lines -->
            <div class="absolute left-14 top-10 transform -translate-y-1/2 -translate-x-1/2 opacity-80">
              <img src="/images/decorframe1.png" alt="" class="w-auto h-auto" />
            </div>

            <!-- Right decorative lines -->
            <div class="absolute right-0 bottom-0 transform translate-x-1/2 translate-y-1/4 opacity-80">
              <img src="/images/decorframe1.png" alt="" class="w-auto h-auto" />
            </div>
          </div>

          <!-- Swiper -->
          <div class="swiper mySwiper relative z-10">
            <div class="swiper-wrapper items-center">
              <!-- Slide 1 (besar) -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus1.png" alt="Coffee 1"
                  class="w-[355px] h-[200px] md:w-[425px] md:h-[320px] lg:w-[575px] lg:h-[400px] xl:w-[730px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 2 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus2.png" alt="Coffee 2"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 3 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus3.png" alt="Coffee 3"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 4 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus4.png" alt="Coffee 4"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 5 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus5.png" alt="Coffee 5"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 6 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus6.png" alt="Coffee 6"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
              <!-- Slide 7 -->
              <div class="swiper-slide !w-auto">
                <img src="/images/2aboutus7.png" alt="Coffee 7"
                  class="w-[150px] h-[200px] md:w-[220px] md:h-[320px] lg:w-[290px] lg:h-[400px] xl:w-[375px] xl:h-[480px] object-cover rounded-sm shadow-lg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>